html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    color: #96C4CA;
}


#app {
    width: 100%;
    height: 100%;

    .App-flex-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;

        .Header,
        .Price,
        .Footer {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .Header {
            flex: 1 1 auto;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.2vw;
        }

        .Price {
            flex: 6 1 auto;
            justify-content: space-around;

            .Price-actual {

                .Price-label {
                    font-size: 3vw;
                }

                .Price-value {
                    font-weight: bold;
                    font-size: 10vw;
                }
            }

            .PriceInputs {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                align-self: stretch;
                padding: 0 8%;

                > div:first-child {
                    margin-right: 80px;
                }

                > div:last-child {
                    margin-left: 80px;
                }

                .person-amount,
                .avg-price {
                    text-align: center;

                    .label {
                        margin-bottom: 20px;
                    }
                }

                .price-result {
                    flex-direction: column;

                    .current-price {
                        .total-price-value {
                            text-align: center;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 32px;
                        }
                    }

                    .currency {
                        margin-top: 3px;
                        text-align: center;

                        .currency-select {
                            margin-left: 10px;
                            padding: 2px 5px;
                        }
                    }
                }

                .input-wrapper {
                    position: relative;
                    height: 32px;
                    width: 128px;

                    .total-price-input,
                    .person-amount-input,
                    .avg-price-input {
                        height: 32px;
                        width: 128px;
                        text-align: center;
                        font-size: 16px;
                    }

                    input[type="range"] {
                        position : absolute;
                        left : -26px;
                        top : -64px;
                        border : 1px solid transparent;
                        opacity : 0;
                        cursor : e-resize;
                        width : 180px;
                        height : 128px;
                    }

                }
            }
        }

        .Footer {
            flex: 1 1 auto;
            flex-direction: row;
            text-decoration: none;
            color: inherit;

            .Footer-link {
                display: flex;
                flex-direction: row;
                text-decoration: none;
                color: inherit;
                align-items: center;

                .Footer-label {
                    font-size: 1.4vw;
                }

                .Footer-cycle-logo {
                    background: url('../img/cycle-logo.png') no-repeat center;
                    background-size: cover;
                    height: 20px;
                    width: 20px;
                    margin-left: 5px;
                }

                .Footer-github-logo {
                    background: url('../img/github-logo.png') no-repeat center;
                    background-size: cover;
                    height: 20px;
                    width: 20px;
                    margin-left: 5px;
                }

                &:hover {
                    transform: scale(1.1);
                }

                &:first-child {
                    margin-right: 20px;
                }

                &:last-child {
                    margin-left: 20px;
                }
            }
        }
    }
}
